{%extends 'layouts/base.html'%}


{%block content %}
    <h1> Juanjo Ruiz - Fotógrafo </h1>

    <div class="about">
        <img src="https://picsum.photos/300/350">
        <div class="about-content">
            <h3>Lorem ipsum dolor sit.</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia debitis totam sit ab quae voluptates, nulla ipsum, a suscipit veniam harum, earum alias culpa? Sequi magnam facere sapiente at ducimus.</p>
        </div>
    </div>

{%endblock %}