{#ESTA LINEA PARA CARGAR CONTENIDOS ESTATICOS#} 
{% load static%}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {#COMO EN UN HTML NORMAL PERO SE METE EL ARCHIVO CSS COMO ABAJO#}
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <title>Curso Django</title>
  </head>
  <body>
    <h1>Estáticos</h1>
  </body>
</html>
